<div class="jumbotron card card-image" style="background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>LA DREAM TEAM</strong></h2>
      <p class="mx-7 mb-7">Venez découvrir notre équipe de développeurs fous</p>
    </div>
  </div>
</div>

    <div class="row" style="margin-top:30px">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://image.freepik.com/vecteurs-libre/profil-avatar-homme-icone-ronde_24640-14044.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text lead text-center">Mahmood Sharifi</p>
            <p class="card-text small text-center">The leader of the pack</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://image.freepik.com/vecteurs-libre/profil-avatar-homme-icone-ronde_24640-14044.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text lead text-center">David Serfaty</p>
              <p class="card-text small text-center">...</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://image.freepik.com/vecteurs-libre/profil-avatar-homme-icone-ronde_24640-14044.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text lead text-center">Jonathan Bouillaux</p>
                <p class="card-text small text-center">...</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://image.freepik.com/vecteurs-libre/profil-avatar-femme-icone-ronde_24640-14042.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text lead text-center">Joséphine Rémy</p>
                  <p class="card-text small text-center">...</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>
